certifi==2021.10.8
charset-normalizer==2.0.9
idna==3.3
packaging==21.3
pyparsing==3.0.6
pyupgrade==2.29.1
requests==2.26.0
six==1.16.0
StackAPI==0.2.0
termcolor==1.1.0
tokenize-rt==4.2.1
urllib3==1.26.7
